extends layout

block content
  .container
    h1 #{title}
    form(method='post', action='/recipes/edit/'+recipe._id)
      .form-group
        label Title
        input.form-control(name='title', type='text', value=recipe.title)
      .form-group
        label Category #{recipe.category}
        select.form-control(name='category')
          each category, i in categories
            if(category._id == recipe.category)
              option(value=category._id, selected) #{category.title}
            else
              option(value=category._id) #{category.title}
      .form-group
        label Ingredients
        each ingredient, i in recipe.ingredients
          if i == 0
            input.form-control(name='ingredients[]', type='text', value=ingredient)
            a.btn.btn-default.add-button.pull-right Add Ingredient
            a.btn.btn-default.remove-button.pull-right Remove Ingredient
          else
            input.form-control(name='ingredients[]', type='text', value=ingredient)
      .form-group
        label Steps:
        each step, i in recipe.steps
          if i == 0
            input.form-control(name='steps[]', type='text', value=step)
            a.btn.btn-default.add-button.pull-right Add Step
            a.btn.btn-default.remove-button.pull-right Remove Step
          else
           input.form-control(name='steps[]', type='text', value=step)
      .form-group
        label Author:
        input.form-control(name='author', type='text', value=recipe.author)
      .form-group
        label Body:
        input.form-control(name='body', type='text', value=recipe.body)

      input.btn.btn-primary(type='submit', name='submit', value='Change')
      a.btn.btn-secondary(href='/manage/recipes') Back
      a.btn.btn-danger.recipe-delete.float-right(data-rec-id=recipe._id) Delete
