extends layout

block content
  .container
    .row
      .col-md-9
        h1 #{title}
      .col-md-3
        a(class="btn btn-success create-btn", href="/manage/recipe/add") Add Recipe
    table(class='table table-striped')
      tr
        th Recipe Title
        th Recipe Ingredients
        th Recipe Steps
        th Recipe Author
        th Recipe Body
        th Actions
      each recipe, i in recipes
        tr
          td #{recipe.title}
          td #{recipe.ingredients}
          td #{recipe.steps}
          td #{recipe.author}
          td #{recipe.body}
          td
            a(class="btn btn-primary" href="/manage/recipe/edit/"+recipe._id) Edit
            // a(class="btn btn-tiny btn-default" href="/manage/categories/delete/"+recipe._id) Delete
